header {
    height: 112px;
    width: 100%;
    background-color: #001312;
    border-bottom: 2px solid;
    border-image: linear-gradient(348.01deg, #FFD79F 1.28%, #85663E 98.72%);
    border-image-slice: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.basket{
    position: relative;
}
.basket-sm-span{
    width: 12px;
    font-size: 8px;
line-height: 12px;
/* identical to box height */

text-align: center;
font-variant: all-small-caps;
height: 12px;
position: absolute;
right: 10px;
top: 5px;
background: #58BD7D;
border-radius: 15px;

}
nav{
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul>li{
    padding: 10px;
    cursor: pointer;
}
button.btn-connect-wallet{
    width: 153px;
    cursor: pointer;
    border: none;
    outline: 0;
    height: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(103.04deg, rgba(255, 233, 134, 0.88) -25.17%, #BC7E20 77.94%, #A74D01 128.68%);
    border-radius: 6px;
}
.logo{
    justify-content: center;
    align-items: center;
}
li.nav-item.certik-logo{
    max-width: 153px !important;
    padding: 0;
    justify-content: start;
}
.certik-logo >img {
    max-width: 153px;
    padding: 0;
}

@media only screen and (max-width:1056px) {
    ul>li{
        padding: 6px;
    }
    
}
@media only screen and (max-width:975px) {
    ul>li{
        padding: 6px;
    }
    ul#links {
        flex-direction: column;
        height: 88vh;
        background-color: #151619;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        z-index: 2;
        position: fixed;
        border-bottom: 2px solid;
        border-image: linear-gradient(348.01deg, #FFD79F 1.28%, #85663E 98.72%);
        border-image-slice: 2;
    }
    li.nav-item {
        display: flex;
        padding: 20px;
        font-size: 22px;
        text-align: left;
        width: 50%;
    }
   .show-sm> img {
        margin-right: 35px;
    }
    ul#links {
        transform: translateX(-100%);
        transition: 350ms ease;
        visibility: hidden;
        opacity: 0;
    }
    ul#links.show-links{
        transform: translateX(0%);
        transition: 350ms ease;
        opacity: 1;
        visibility:unset;
    }
    
}