@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.contain {
  width: 95%;
  margin: 0 auto;
}
.show-sm {
  display: none;
}
.hidden-sm {
  display: flex;
}
#root {
  height: 100%;
}
.component-header-text {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: #ffffff;
}
.component-content {
  font-weight: 400;
  height: 240px;
  margin-top: 20px;
  width: 398px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(218, 209, 212, 0.8);
}
@media only screen and (max-width: 975px) {
  .contain {
    width: 100% !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .show-sm {
    display: block;
  }
  .component-header-text {
    margin-top: 0;
  }
  .component-content {
    height: 168px;
    font-size: 16px;
  }
}
