.swap-container {
  background: #001312;
  height: 100%;
  width: 100%;
}
.swap-header-text {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  display: flex;
  align-items: center;
margin-top: 30px;
  color: #ffffff;
}
.swap-content {
  font-weight: 400;
  height: 240px;
  margin-top: 20px;
  width: 398px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(218, 209, 212, 0.8);
}
.buy-hedgepay-btn {
  width: 155px;
  height: 45px;
  background: linear-gradient(
    103.04deg,
    rgba(255, 233, 134, 0.88) -25.17%,
    #bc7e20 77.94%,
    #a74d01 128.68%
  );
  border-radius: 10px;
  border: none;
}
.view-chart-btn {
  width: 155px;
  height: 45px;
  border: 2px solid #b59770;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;


}
.buy-hedgepay-btn,.view-chart-btn{
  color: #fff;
  cursor: pointer;
  outline: 0;

}
.swap-buttons{
    margin-top: 15px;
    display: flex;
}
.view-chart-btn{
    margin-left: 25px;
}
.swap-text{
    width: 420px;
    height:379px;
}



.swap-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 225px);
    flex-wrap: wrap;
}