@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding:  0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.contain {
    width: 95%;
    margin: 0 auto;
}
.show-sm{
    display: none;
}
.hidden-sm{
    display: flex;
}
@media only screen and (max-width:975px) {
    .contain{
        width: 100% !important;
    }
    .hidden-sm {
        display: none !important;
    }
    .show-sm{
        display: block;
    }
    
}