footer {
    height :113px;
    width: 100%;
    background-color: #001312;
    position: absolute;
    bottom: 0;
}
footer>section {
    border-top: 0.58px solid #CDCDDF;
    
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-text
{
    font-size: 10px;
    background: linear-gradient(0deg, #8C867B, #8C867B), radial-gradient(429.69% 713.47% at -84.97% 182.09%, #835D2D 0%, #8A6331 24%, #F8E07F 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.support-chat-container {
    width: 65px;
    height: 65px;
    background-color: #333333;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-chat{
    width: 33px;
    height: 33px;
    background-color: #fff;
    position: relative;
    border-radius: 999px;
}
.support-triangle{
    position: absolute;
    background-color: transparent;
    height: 0;
    width: 0;
    border-bottom: 8px solid #fff;
    border-left: 16px solid transparent;
    border-right: 4px solid transparent;
    bottom: 1px;
    left: 1px;
    transform: rotate(-2deg);
}
.support-smile{
    position: absolute;
    right: 6px;
    bottom: 0px;
}

.hamburger-menu{
    width: 65px;
    height: 65px;
    border: 4px solid #9D7F58;
    border-radius: 65px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger-text{
    background: linear-gradient(0deg, rgba(174, 174, 174, 0.25), rgba(174, 174, 174, 0.25)),
    linear-gradient(307.92deg, #ECAF5A 0%, #89683D 56.21%);    
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 12px;
}
.hamburger {
    margin-top: 10px ;
    width: 50px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bar{
    border-radius: 1px;
    width: 25px;
    height: 4px;
    background: linear-gradient(0deg, rgba(209, 210, 215, 0.2), rgba(209, 210, 215, 0.2)), linear-gradient(307.92deg, #ECAF5A 0%, #89683D 56.21%);
}

.footer-item-logos {
    transition: 250ms ease-in;
    
}
@media only screen and (max-width:975px) {
    footer>section {
        justify-content: space-between;
    }
    footer {
        height: 12vh;
    }
    .footer-item-logos {
        opacity: 0;
    visibility: hidden;
        transition: 250ms ease-in;
    }
    .show-footer-item-logos {
        transition: 250ms ease-in;
        opacity: 1;
        visibility: visible;
        
    }
}